<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<setting name="logImpl" value="LOG4J"></setting>
</settings>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@70.12.50.134:1521:orcl"/>
        <property name="username" value="projectdb"/>
        <property name="password" value="projectdb"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="lab/mybatis/mapper/UserMapper.xml"/>
  </mappers>
</configuration>