<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.mybatis.user.ProductMapper">


	<select id="getProList" resultType="lab.spring.workshop.model.ProductVO">
		select * from productinfo
	</select>
	
	<select id="getPro" resultType="lab.spring.workshop.model.ProductVO">
		select * from productinfo where pcode =#{pcode} 
	
	</select>	
	
	<insert id="addPro" parameterType="lab.spring.workshop.model.ProductVO">
		insert into productinfo(pcode, pname, price, quant, pdesc) 
		values(#{pcode} ,#{pname} ,#{price} ,#{quant} ,#{pdesc} )
	</insert>
	
	<update id="modifyPro" parameterType="lab.spring.workshop.model.ProductVO">
		 update productinfo 
		 set pcode=#{pcode},pname=#{pname},price=#{price}, quant=#{quant}, pdesc=#{pdesc} 
		 where pcode=#{pcode} 
	</update>
	
	<delete id="removePro" parameterType="string">
		delete productinfo where pcode = #{pcode}
	</delete>
	
</mapper>
